@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap");

@import "toastr";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

head {
    --font-1: "Poppins", sans-serif;
    --font-2: "Dancing Script", cursive;
}

.toast-top-right{
    padding-top: 8vh;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.inline{
    display: inline;
}

.info-message{
    position: absolute;
    top:8vh;
    text-align: right;
    display: block;
    width: 100%;
    left: 0;
    padding: 0 5vw;
}

@media screen and (max-width:768px){
    .info-message{
        top:82vh;
        text-align: center;
    }
}

span {
    a {
        background-color: crimson;
        color: lavenderblush;
        border: solid 2px crimson;
        border-radius: 5px;
        padding: 2px 10px;
        &:hover {
            background-color: lavenderblush;
            color: crimson;
        }
    }
}

header {
    background-color: crimson;
    color: lavenderblush;
    padding: 20px;
    box-shadow: 0px 2px 10px lavenderblush;
    height: 8vh;
    nav {
        margin: auto;
        max-width: 70vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-logo {
            font-size: 2rem;
        }
        .burger {
            display: none;
            span {
                display: block;
                width: 24px;
                height: 3px;
                background-color: lavenderblush;
                margin: 3px 0;
                &:nth-of-type(2) {
                    width: 70%;
                }
            }
        }
        .nav-links {
            display: flex;
            justify-content: space-between;
            span {
                margin: 0 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        nav {
            max-width: 100vw;
            .nav-logo {
                font-size: 1.5rem;
                flex: 2;
            }
            .burger {
                display: block;
            }
            .burger-active {
                span {
                    &:nth-of-type(1) {
                        transform: rotate(45deg) translate(3px, 6px);
                    }
                    &:nth-of-type(2) {
                        opacity: 0;
                    }
                    &:nth-of-type(3) {
                        transform: rotate(-45deg) translate(3px, -6px);
                    }
                }
            }
            .nav-links {
                justify-content: space-evenly;
                position: absolute;
                top: 8vh;
                left: 0;
                height: 0;
                background-color: crimson;
                width: 100vw;
                flex-direction: column;
                align-items: center;
                z-index: 1;
                span {
                    display: none;
                }
            }
            .nav-active {
                height: 40vh;
                border-bottom-right-radius: 10%;
                border-bottom-left-radius: 10%;
                span {
                    display: block;
                }
            }
        }
    }
}

.container {
    padding: 10px;
    animation: trans 0.6s linear;
}

h1 {
    text-align: center;
}

.btn-container {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: rgba(crimson, 0.8);
    color: lavenderblush;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer !important;
    &:hover {
        background-color: crimson;
        box-shadow: 0 0 15px #2f2f2f;
    }
    &:focus {
        animation: click 0.3s;
    }
}

.single-page {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.form {
    background-color: rgba(gray, 0.3);
    border-radius: 2px;
    padding: 10px;
    min-width: 50vw;
    .form-group {
        padding: 10px;
        input {
            width: 100%;
            padding: 10px;
        }
    }
}

@media screen and (max-width:1024px){
    .form{
        min-width: 80vw;
    }
}


@media screen and (max-width:768px){
    .form{
        min-width: 98vw;
    }
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
        box-shadow: 0 0 15px black;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes trans {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
